
body 
{
  max-width: 70%;
  margin: 0 auto;
  background-color: rgb(11, 39, 13);
}

a
{
  color: white;
  text-decoration: none;
}

li 
{
  
 list-style: none;
}

.app-wrapper
{
  font-size: 20px;
  color: white;
  display: grid;
  grid-template-areas:
   "h h"
   "n c"
   ;
   background-color:rgb(7, 36, 8);
  grid-template-rows: 100px 1fr;
  gap: 10px;
  grid-template-columns: 2fr 10fr;
}